.highlight-container{
    background-color: var(--light-card3-bg-color);
    padding: 10px 10px;
    margin-top: 16px;
    border-radius: 1.4rem;
    border: 1px solid rgba(255, 255, 255, 0.089);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-inline: auto;
}
.highlight-container .title h1{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
}
.card-wrapper{
    margin-top: 14px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: auto;     /* important */
    align-items: flex-start;   
    gap: 1rem;
}
.highlight-card{
    background-color: var(--primary-bg-color);
    padding: 0.8rem 1rem ;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 1rem;

}
.highlight-card p{
    font-size: 14px;
    font-weight: 500;
}
.highlight-card .gif-wrapper{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 1rem;
    
}
.highlight-card .gif-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: white;
}





/* @media screen and (max-width:1100px ){ */

/* MEDIA QUERIES FOR DIFFERENT KIND OF SCREEN */
@media screen and (max-width:1100px) {
    .highlight-container{
        max-width: 100%;
    }

    .card-wrapper{
        margin-top: 1rem;
        width: 100%;
    }

    .highlight-card{
        width: 100%;
    } 
    
}


@media screen and (max-width:600px) {
    .card-wrapper{
        margin-top: 1rem;
        width: 100%;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: auto;

    }

    .highlight-card{
        width: 90%;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
    
}