.highlight-container{
    background-color: var(--light-card3-bg-color);
    padding: 10px 10px;
    margin-top: 16px;
    border-radius: 1.4rem;
    border: 1px solid rgba(255, 255, 255, 0.089);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-inline: auto;
}
.highlight-container .title h1{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
}
.card-wrapper{
    display: grid;
    /* grid-template-columns: 2fr 1.5fr; */
    grid-template-columns: 2fr 2.2fr;
    grid-template-rows: auto 1.3fr 1fr;
    gap: 1rem;
    margin-top: 14px;
    align-items: flex-start;
    border: 1px solid red;
    padding: 2px 1.6rem;
}
.highlight-card{
    background-color: var(--primary-bg-color);
    padding: 0.8rem 1rem ;
    border-radius: 0.6rem;
}
.highlight-card p{
    font-size: 14px;
    font-weight: 500;
}
