.favorite-container {
  background-color: inherit;
  padding: 10px 10px;
  border-radius: var(--outer-card-br);
  border: 1px solid rgba(255, 255, 255, 0.089);
  display: flex;
  flex-direction: column;
  align-items: normal;
}
.favorite-container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.favorite-container .title h1 {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
}
.favorite-container .title .reset-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}
.favorite-container .title .reset-icon:hover {
  color: var(--text-color);
  transition: all ease-in-out 200ms;
}
.cities-card-wrapper {
  display: grid;
  grid-template-columns: 2fr 2.2fr;
  grid-auto-rows: auto;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 14px;
  padding: 2px 1.6rem;
}
.place-card {
  background-color: var(--primary-bg-color);
  padding: 0.8rem 1rem;
  border-radius: var(--inner-card-br);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.085);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.178);
}
.place-card:hover {
  border: var(--inner-card-border-hover-color);
  box-shadow: var(--inner-card-box-shadow-hover-color);
  transition: 3ms;
}
.place-card .temp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  gap: 12px;
}
.place-card .temp h1,
h3 {
  font-weight: 500;
  font-size: 1.8em;
}
.highLow p {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 400;
}
.highLow span {
  font-weight: 400;
  margin-right: 2px;
}
.condition-img {
  width: 50px;
  height: 50px;
}
.condition-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* MEDIA QUERIES FOR DIFFERENT KIND OF SCREEN */
@media screen and (max-width: 1100px) {
  .favorite-container {
    max-width: 92%;
    margin-inline: auto;
    padding: 6px;
  }
  .cities-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    margin-top: 1rem;
    max-width: 100%;
    margin-inline: auto;
  }
  .place-card {
    width: 100%;
  }
  .place-card h1 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  .cities-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    margin-top: 1rem;
    max-width: 100%;
    margin-inline: auto;
  }
  .place-card {
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }

  .place-card .temp {
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }
  .place-card .temp h1,
  .place-card .highLow p {
    font-size: 80%;
  }
}
