.favorite-container{
    background-color: inherit;
    padding: 10px 10px;
    border-radius: 1.4rem;
    border: 1px solid rgba(255, 255, 255, 0.089);
    display: flex;
    flex-direction: column;
    align-items: normal;
}
.favorite-container .title h1{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
}
.cities-card-wrapperR{
    display: grid;
    grid-template-columns: 2fr 2.2fr;
    grid-template-rows: auto 1.3fr 1fr;
    gap: 1rem;
    margin-top: 14px;
    align-items: flex-start;
    padding: 2px 1.6rem;
}
.cities-card-wrapper{
    display: grid;
    grid-template-columns: 2fr 2.2fr;
    grid-auto-rows: auto;     /* important */
    align-items: flex-start;
    gap: 1rem;
    margin-top: 14px;
    padding: 2px 1.6rem;
    
}
.place-card{
    background-color: var(--primary-bg-color);
    padding: 0.8rem 1rem ;
    border-radius: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.place-card .temp{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 12px;
}
.place-card .temp h1,h3{
    font-weight: 500;
    font-size: 1.8em;

}
.highLow p{
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 400;
}
.highLow span{
    font-weight: 400;
    margin-right: 2px;
}
.condition-img{
    width: 50px;
    height: 50px;
}
.condition-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}




/* MEDIA QUERIES FOR DIFFERENT KIND OF SCREEN */
@media screen and (max-width:1100px ){
.cities-card-wrapper{
    /* *** */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    margin-top: 1rem;
    max-width: 100%;
    margin-inline: auto;
}
.place-card{
    width: 100%;   
}
}

@media screen and (max-width:600px){
.cities-card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    margin-top: 1rem;
    max-width: 100%;
    margin-inline: auto;
}
.place-card{
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.place-card .temp{
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
}