.leftSide-container{
    /* todo adjust the size of the width */
    /* width: 30%;  */
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    gap: 1rem; 
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
}
.leftSide-container .current-location{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
}
.leftSide-container .current-location > div{
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    gap: 10px;
}
.leftSide-container .current-location > div .icon{
    font-size: 2rem;
}

.days-container{
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.185);
}
.days-container .days-wrapper{
    padding: 1rem;
    background-color: var(--light-card3-bg-color);
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    border-radius: 1rem;
}
.days-container .days-wrapper .day{
    border: 1px solid rgba(255, 255, 255, 0.267);
    padding: 6px;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    color: var(--secondary-text-color);
}
    .days-container .days-wrapper .date{
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.255);
        padding: 4px;
    }
.days-container .days-wrapper .day .today{
    color: white;
}
    
.days-container .days-wrapper .day img{
    width: 25px;
    height: 30px;
}


/* RADAR-CONTAINER */
.radar-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 
.radar-container > div h1{
    font-size: 1.4rem;
}
 .radar-container .picture-wrapper{
    width: 400px;
    height: 400px;
    border: 1px solid rgba(138, 138, 234, 0.092);
    
 }
  .radar-container .picture-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: center;
    border: none;
  }





/* MEDIA QUERIES FOR DIFFERENT SCREEN */
@media screen and (max-width:1100px ){
    .leftSide-container{
        width: 80%;
        margin-inline: auto;
    }
    .days-container .days-wrapper{
        display: grid;
        grid-template-columns: repeat(3,1fr);

    }
     .radar-container .picture-wrapper{
    width: 300px;
    height: 300px;
    border: 1px solid rgba(138, 138, 234, 0.084);
    
 }
  .radar-container .picture-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: center;
    border: none;
  }



}
