.sideSection-container {
  padding: 1rem 1.6rem;
  width: 100%;
  background-color: var(--light-card-bg-color);
  min-height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.sideSection-container .button-wrapper {
  display: flex;
  /* min-height: 20vh; */
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
}
.sideSection-container .button-wrapper button {
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.415);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.451);
  background-color: inherit;
  color: white;
}
.sideSection-container .button-wrapper button:hover {
  border: 1px solid rgba(255, 255, 255, 0.544);
  box-shadow: 1px 1px 2px rgba(62, 122, 218, 0.559);
}
/* MEDIA QUERIES FOR DIFFERENT KIND OF SCREEN */
@media screen and (max-width: 1000px) {
  .sideSection-container {
    width: 100%;
    margin-inline: auto;
    padding: 1rem;
    min-height: 5vh;
  }
  .sideSection-container .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    /* min-height: 2vh; */
  }
}
