.searchBar-container{
    padding: 1.8rem 1.6rem;
    max-width: 40%;
}
.search-place{
    background-color: inherit;
    max-width: 100%;
}
.search-place label{
    font-weight: 550;
    line-height: 1.2;
    color: var(--text-color);
}
.search-place > div > input[type="text"]{
    padding: 10px 12px;
    border-radius: 6px;
    /* margin-top: 2px; */
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.477);
    color: var(--text-color);
    padding-left: 2rem;
    box-shadow: 1px 2px 3px rgba(82, 81, 81, 0.56);
    flex: 1;
    min-width:40% ;
}
.search-place > div > input[type="text"]:hover{  
    border: 1px solid var(--secondary-text-color);   
}
.search-wrapper{
    position: relative;
}   
.search-field{
    width: 100%;
    /* I Should have minimum width */
    min-width: 50%;   
}

.search-icon{
    position: absolute;
    top: 50%;
    left:8px;
    transform: translateY(-50%);
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}


/*  */
@media screen and (max-width:1100px ){
.searchBar-container{
    max-width: 80%;   
}
}
