.dashboardD {
    padding: 2rem 2.2rem;
    display: grid;
    grid-template-columns: 2fr 2.2fr;
    grid-template-rows: auto 1.3fr 1fr;
    gap: 1.5rem;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
}

.dashboard {
  display: grid;
  grid-template-columns: 2fr 2.2fr;
  grid-template-rows: auto auto auto;
  gap: 1rem;
  margin-top: 14px;
  align-items: flex-start;
  padding: 2px 1.6rem;
}
@media screen and (max-width:1100px ){
  .dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
  }
  .highlights,.current-Panel,.hourly-Forecast,favorite-Cities{
    width: 100%;
  }
}