.dashboard {
    padding: 2rem 2.2rem;
    /* background-color: var(--primary-bg-color); */
    display: grid;
    /* grid-template-columns: 2fr 1.5fr; */
    grid-template-columns: 2fr 2.2fr;
    grid-template-rows: auto 1.3fr 1fr;
    gap: 1.5rem;
}