.error-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  text-align: center;
}
.error-page-container > h1 {
  line-height: 1.4;
}

/* MEDIA QUERIES FOR DIFFERENT KIND OF SCREEN */
@media screen and (max-width: 800px) {
  .error-page-container {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    width: 90%;
  }
}
