.app-container {
  min-height: 100vh;
  width: 100%;
  /* background-color: var(--app-bg-color); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upperSection-container {
  width: 90%;
  margin-left: 6rem;
}
.leftSide-container {
  max-width: 40%;
  background-color: var(--light-card-bg-color);
  display: flex;
  align-items: flex-start;
}
.main-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.error-message .backTo-main {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  padding: 10px 12px;
  border: 1px solid rgba(255, 255, 255, 0.415);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.451);
}
.error-message .backTo-main:hover {
  border: 1px solid rgba(255, 255, 255, 0.415);
  box-shadow: 1px 1px 2px rgba(62, 122, 218, 0.451);
}
.error-message .backTo-main button {
  /* padding: 10px 12px; */
  background-color: inherit;
  color: white;
  font-weight: 600;
  text-align: center;
  border: none;
}
.error-message .backTo-main .icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
/* MEDIA QUERIES FOR DIFFERENT KIND OF SCREEN */
@media screen and (max-width: 1000px) {
  .app-container {
    padding: 1rem 0.5rem;
    /* width: 100%; */
  }
  .upperSection-container {
    width: 95%;
    margin-left: 0;
    margin-inline: auto;
  }
  .leftSide-container {
    max-width: 100%;
    height: 20vh;
  }
  .main-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .leftSide-container {
    display: none;
  }
}
