* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body-bg-color);
  color: var(--primary-text-color);
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --body-bg-color: #0e1421;
  --primary-bg-color: #060c1a;
  --primary-text-color: #ffffff;
  --secondary-text-color: #676b73;
  /* I need gradient of the following */
  --light-card-bg-color: #14203a;
  --light-card2-bg-color: #15223e;
  --light-card3-bg-color: #121d33;
  --accent-bg-color: #742bec;
  --focus-color: #2e03e4;
}
.btn {
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
}
