* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body-bg-color);
  color: var(--primary-text-color);
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 98%;
  margin-inline: auto;
}
:root {
  --body-bg-color: #0e1421;
  --primary-bg-color: #060c1a;
  --primary-text-color: #ffffff;
  --secondary-text-color: #676b73;
  /* I need gradient of the following */
  --light-card-bg-color: #14203a;
  --light-card2-bg-color: #15223e;
  --light-card3-bg-color: #121d33;
  --accent-bg-color: #742bec;
  --focus-color: #2e03e4;
  --outer-card-br: 1.3rem;
  --inner-card-br: 0.8rem;
  /* --2nd-inner-card-br: 0.8rem; */
  --button-br: 6px;
  --inner-card-border-hover-color: 1px solid rgba(255, 255, 255, 0.129);
  --inner-card-box-shadow-hover-color: 1px 1px 1px rgba(255, 255, 255, 0.31);
}
.btn {
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: var(--button-border-radius);
}
